doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible" content = "ie=edge")
        link(rel = "stylesheet" type = "text/css" href = "../../stylesheets/forms.css")
        script(type = "text/javascript" src = "../../javascripts/validate.js")
        title CRUD
    body
        div(class = "delete-title")
            h1 CRUD
        div(class = "delete-form")
            form(action = user.id+"?_method=delete" method = "post" onsubmit = "return validate()")
                h2(class = "delete-form-title") delete
                div(class = "delete-form-div")
                    input(type = "text" id = "name" name = "name" value = user.name class = "delete-form-input" readonly)
                    input(type = "password" id = "password" name = "password" value = user.password class = "delete-form-input" readonly)
                    input(type = "email" id = "email" name = "email" value = user.email class = "delete-form-input" readonly)
                    input(type = "submit" value = "delete user" class = "delete-form-submit")
            div(class = "delete-form-button")
                a(href = "/delete")
                    button(type = "button" class = "delete-form-back") back