doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible" content = "ie=edge")
        link(rel = "stylesheet" type = "text/css" href = "../../stylesheets/forms.css")
        script(type = "text/javascript" src = "../../javascripts/validate.js")
        title CONTACTA
    body
        div(class = "delete-title")
            h1 CONTACTA
        div(class = "delete-form")
            form(action = user._id+"?_method=delete" method = "post" onsubmit = "return validate()")
                h2(class = "delete-form-title") delete
                div(class = "delete-form-div")
                    input(type = "text" id = "username" name = "username" value = user.account.username class = "delete-form-input" readonly)
                    input(type = "password" id = "password" name = "password" value = user.account.password class = "delete-form-input" readonly)
                    if user.account == "client"
                        input(type = "radio" id = "account" name = "account" value = "client" class = "delete-form-input" checked disabled)
                        | client
                        input(type = "radio" id = "account" name = "account" value = "provider" class = "delete-form-input" disabled)
                        | provider
                    else
                        input(type = "radio" id = "account" name = "account" value = "client" class = "delete-form-input" disabled)
                        | client
                        input(type = "radio" id = "account" name = "account" value = "provider" class = "delete-form-input" checked disabled)
                        | provider
                    input(type = "text" id = "firstname" name = "firstname" value = user.name.firstname class = "delete-form-input" readonly)
                    input(type = "text" id = "lastname" name = "lastname" value = user.name.lastname class = "delete-form-input" readonly)
                    if user.gender == "male"
                        input(type = "radio" id = "gender" name = "gender" value = "male" class = "delete-form-input" checked disabled)
                        | male
                        input(type = "radio" id = "gender" name = "gender" value = "female" class = "delete-form-input" disabled)
                        | female
                    else
                        input(type = "radio" id = "gender" name = "gender" value = "male" class = "delete-form-input" disabled)
                        | male
                        input(type = "radio" id = "gender" name = "gender" value = "female" class = "delete-form-input" checked disabled)
                        | female
                    input(type = "date" id = "birthdate" name = "birthdate" value = user.birthdate class = "delete-form-input" readonly)
                    input(type = "tel" id = "phonenumber" name = "phonenumber" value = user.phonenumber class = "delete-form-input" readonly)
                    input(type = "email" id = "email" name = "email" value = user.email class = "delete-form-input" readonly)
                    input(type = "text" id = "address" name = "address" value = user.address class = "delete-form-input" readonly)
                    input(type = "text" id = "latitude" name = "latitude" value = user.coordinate.latitude class = "delete-form-input" readonly)
                    input(type = "text" id = "longitude" name = "longitude" value = user.coordinate.longitude class = "delete-form-input" readonly)
                    input(type = "submit" value = "delete user" class = "delete-form-submit")
            div(class = "delete-form-button")
                a(href = "/delete")
                    button(type = "button" class = "delete-form-back") back