extends layout
block content
    head
        link(rel = 'stylesheet' type = 'text/css' href = 'stylesheets/index.css')
        include head
    body
        div(class = 'container') 
            div(class = 'row')
                div(class = 'col')
                    h1(class = 'display-4') Contacta
                    h2(class = 'lead') El servicio que quieras, cuando quieras
                form(class = 'form-inline mt-2 mt-md-0')    
                    a(href = 'signup')
                        button(type = 'button' class = 'btn btn-secondary my-2 mr-sm-2') crear cuenta
                    a(href = 'login')
                        button(type = 'button' class = 'btn btn-secondary my-2 mr-sm-2') iniciar sesión
            div(class = 'row')
                img(src = 'https://www.telcel.com/content/dam/telcelcom/Telefonia/servicios/llamadas/multiconferencia/imagenes/multiconferencia-bnm.jpg' width = '100%')
            div(class = 'row')
                h1(class = 'mt-5') Contacta tu servicio
            div(class = 'row')
                div(class = 'col')
                    div(class = 'img1')
                        img(src = 'https://image.flaticon.com/icons/svg/1651/1651373.svg' width = '50px' height = '50px')
                        h4 Rentabiliza tus servicios
                        h6 Ofrece servicios y gana dinero
                        h6 Ofrece el servicio al mejor precio
                div(class = 'col')
                    div(class = 'img1')
                        img(src = 'https://www.flaticon.es/premium-icon/icons/svg/1700/1700553.svg' width = '50px' height = '50px')
                        h4 Expande tus oportunidades
                        h6 Descubre servicios que satisfagan tus necesidades de manera inmediata
                div(class = 'col')
                    div(class = 'img1')
                        img(src = 'https://image.flaticon.com/icons/svg/1739/1739432.svg' width = '50px' height = '50px')
                        h4 Registrarse es fácil
                        h6 Registrate en menos de 4 minutos y empieza a obtener el servicio que deseas                                         