extends layout
block content
    head
        include head
        script(type = 'text/javascript' src = '/javascripts/validate.js')
    body(style = 'height: 100%;')
        header 
            div(class = 'navbar navbar-expand-lg fixed-top navbar-dark bg-primary box-shadow')
                div(class = 'container')
                    a(href = '/' class = 'navbar-brand') Contacta
                    button(type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navbarResponsive' aria-controls = 'navbarResponsive' aria-expanded = 'false' aria-label = 'Toggle navigation')
                        span(class = 'navbar-toggler-icon')
                    div(id = 'navbarResponsive' class = 'navbar-collapse collapse')
                        ul(class = 'navbar-nav')
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/signup') crear cuenta
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/login') iniciar sesión
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '' data-toggle = "modal" data-target = "#ayuda") ayuda
        div(class = "modal fade" id = "ayuda" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLongTitle" aria-hidden = "true")
            div(class = "modal-dialog" role = "document")
                div(class = "modal-content")
                    div(class = "modal-header")
                        h5(class = "modal-title" id = "exampleModalLongTitle") Ayuda
                        button(type = "button" class = "close" data-dismiss = "modal" aria-label = "Close")
                            span(aria-hidden = "true") &times;
                    div(class = "modal-body")
                        span Aquí va la ayuda.
                    div(class = "modal-footer")
                        button(type = "button" class = "btn btn-primary" data-dismiss = "modal") cerrar
        div(class = 'container h-100')
            div(class = 'row align-items-center h-100')
                div(class = 'col-xs-12 col-sm-10 col-lg-7 mx-auto')
                    div(id = 'container' class = 'jumbotron')
                        div(class = 'page-header')
                            h1(class = 'display-5 text-center') Contacta
                            h1(class = 'display-5 text-left') ¡Bienvenido!
                        include messages
                        form(id = 'form' action = 'login' method = 'post' onsubmit = 'return validateLogIn()')
                            fieldset
                                div(class = 'form-group')
                                    input(type = 'text' id = 'email' name = 'email' placeholder = 'correo electrónico o número de teléfono' value = email class = 'form-control' autofocus required) 
                                div(class = 'form-group')
                                    input(type = 'password' id = 'password' name = 'password' placeholder = 'contraseña' value = password class = 'form-control' required)
                                button(type = 'submit' class = 'btn btn-primary btn-lg btn-block') iniciar sesión
                                p ¿No tienes cuenta? 
                                    a(href = '/signup') Crear cuenta