extends layout
block content
    head
        include head
        script(type = 'text/javascript' src = '/javascripts/validate.js')
    body(style = 'padding-top: 50px;')
        header
            div(class = 'navbar navbar-expand-lg fixed-top navbar-dark bg-primary')
                div(class = 'container')
                    a(href = '/main' class = 'navbar-brand') Contacta
                    button(type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navbarResponsive' aria-controls = 'navbarResponsive' aria-expanded = 'false' aria-label = 'Toggle navigation')
                        span(class = 'navbar-toggler-icon')
                    div(id = 'navbarResponsive' class = 'navbar-collapse collapse')
                        ul(class = 'navbar-nav')
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/searchservice') buscar servicio
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/checkquotations') cotizaciones
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/checkhistory') historial
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/updateaccount') editar perfil
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/deleteaccount') eliminar cuenta
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/logout') cerrar sesión
        div(class = 'container')
            div(class = 'bs-docs-section')
                div(class = 'row align-items-center h-100')
                    div(class = 'col-xs-12 col-sm-10 col-lg-7 mx-auto')
                        div(id = 'container' class = 'jumbotron')
                            form(id = 'form' action = user._id method = 'post' onsubmit = 'return validateQuotation()')
                                fieldset
                                    h1(class = 'display-5 text-center') #{user.service.title}
                                    p(class = 'lead text-center') #{user.name.firstname} #{user.name.lastname}
                                    p(class = 'lead text-center') #{user.description}
                                    input(type = 'text' id = 'provider' name = 'provider' placeholder = 'provider' value = user._id style = 'display: none;' required)
                                    input(type = 'text' id = 'service' name = 'service' placeholder = 'service' value = user.service.title style = 'display: none;' required)
                                    div(class = 'form-group')
                                        input(type = 'date' id = 'date' name = 'date' placeholder = 'fecha' class = 'form-control' autofocus required)
                                        small(class = 'form-text text-muted') * campo obligatorio
                                    div(class = 'form-group')
                                        textarea(id = 'description' name = 'description' placeholder = 'descripción' class = 'form-control' required)
                                        small(class = 'form-text text-muted') * campo obligatorio
                                    div(class = 'form-group')
                                        input(type = 'url' id = 'image' name = 'image' placeholder = 'link imagen' class = 'form-control')
                                    input(type = 'submit' value = 'cotizar servicio' class = 'btn btn-primary btn-lg btn-block')