extends layout
block content
    head
        include head
        script(type = 'text/javascript' src = '/javascripts/validate.js')
    body(style = 'padding-top: 50px;')
        header
            div(class = 'navbar navbar-expand-lg fixed-top navbar-dark bg-primary')
                div(class = 'container')
                    a(href = '/main' class = 'navbar-brand') Contacta
                    button(type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navbarResponsive' aria-controls = 'navbarResponsive' aria-expanded = 'false' aria-label = 'Toggle navigation')
                        span(class = 'navbar-toggler-icon')
                    div(id = 'navbarResponsive' class = 'navbar-collapse collapse')
                        ul(class = 'navbar-nav')
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/searchservice') buscar servicio
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/checkquotations') cotizaciones
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/checkhistory') historial
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/updateaccount') editar perfil
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/deleteaccount') eliminar cuenta
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '' data-toggle = "modal" data-target = "#ayuda") ayuda
                            li(class = 'nav-item')
                                a(class = 'nav-link' href = '/logout') cerrar sesión
        div(class = "modal fade" id = "ayuda" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLongTitle" aria-hidden = "true")
            div(class = "modal-dialog" role = "document")
                div(class = "modal-content")
                    div(class = "modal-header")
                        h5(class = "modal-title" id = "exampleModalLongTitle") Ayuda
                        button(type = "button" class = "close" data-dismiss = "modal" aria-label = "Close")
                            span(aria-hidden = "true") &times;
                    div(class = "modal-body text-center")
                        h3 Contáctanos
                        div
                            a(class = "btn btn-social-icon btn-lg btn-twitter mx-1" href = 'https://twitter.com/')
                                span(class = "fa fa-twitter" style = "color:white;")
                            a(class = "btn btn-social-icon btn-lg btn-facebook mx-1" href = 'https://facebook.com/')
                                span(class = "fa fa-facebook" style = "color:white;")
                            a(class = "btn btn-social-icon btn-lg btn-instagram mx-1" href = 'https://instagram.com/')
                                span(class = "fa fa-instagram" style = "color:white;")
                            a(class = "btn btn-social-icon btn-lg btn-google mx-1" href = 'https://google.com/')
                                span(class = "fa fa-google" style = "color:white;")
                        ul(class="list-unstyled")
                            li(class = 'lead') Av. Javier Prado Este N.° 4600, Urb. Fundo Monterrico Chico, Santiago de Surco, Lima.
                            li(class = 'lead') (511) 7654321
                            li(class = 'lead') findhelp@contacta.com
                            li(class = 'lead') © Contacta, 2019 - Todos los derechos reservados
                    div(class = "modal-footer")
                        button(type = "button" class = "btn btn-primary" data-dismiss = "modal") cerrar
        div(class = 'container')
            div(class = 'bs-docs-section')
                div(class = 'row align-items-center h-100')
                    div(class = 'col-xs-12 col-sm-10 col-lg-7 mx-auto')
                        div(id = 'container' class = 'jumbotron')
                            form(id = 'form' action = user._id method = 'post' onsubmit = 'return validateQuotation()')
                                fieldset
                                    h1(class = 'display-5 text-center') #{user.service.title}
                                    p(class = 'lead text-center') #{user.name.firstname} #{user.name.lastname}
                                    p(class = 'lead text-center') #{user.description}
                                    input(type = 'text' id = 'provider' name = 'provider' placeholder = 'provider' value = user._id style = 'display: none;' required)
                                    input(type = 'text' id = 'service' name = 'service' placeholder = 'service' value = user.service.title style = 'display: none;' required)
                                    div(class = 'form-group')
                                        input(type = 'date' id = 'date' name = 'date' placeholder = 'fecha' class = 'form-control' autofocus required)
                                        small(class = 'form-text text-muted') * campo obligatorio
                                    div(class = 'form-group')
                                        textarea(id = 'description' name = 'description' placeholder = 'descripción' class = 'form-control' required)
                                        small(class = 'form-text text-muted') * campo obligatorio
                                    div(class = 'form-group')
                                        input(type = 'url' id = 'image' name = 'image' placeholder = 'link imagen' class = 'form-control')
                                    input(type = 'submit' value = 'cotizar servicio' class = 'btn btn-primary btn-lg btn-block')