doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible" content = "ie=edge")
        link(rel = "stylesheet" type = "text/css" href = "stylesheets/forms.css")
        link(rel = "stylesheet" type = "text/css" href = "https://bootswatch.com/4/cosmo/bootstrap.min.css")
        script(type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(type = "text/javascript" src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity = "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin = "anonymous")
        title CONTACTA
    body
        div(class = "main-title")
            h1 CONTACTA
        if errors
            each error in errors
                div(class = "alert alert-danger alert-dismissible fade show" role = "alert") #{error.text}
                    button(type = "button" class = "close" data-dismiss = "alert" aria-label = "Close")
                        span(aria-hidden = "true") &times;
        if error_message
            div(class = "alert alert-danger alert-dismissible fade show" role = "alert") #{error_message}
                button(type = "button" class = "close" data-dismiss = "alert" aria-label = "Close")
                    span(aria-hidden = "true") &times;
        if success_message
            div(class = "alert alert-success alert-dismissible fade show" role = "alert") #{success_message}
                button(type = "button" class = "close" data-dismiss = "alert" aria-label = "Close")
                    span(aria-hidden = "true") &times;
        form(action = user._id method = "post")
            input(type = "text" id = "provider" name = "provider" placeholder = "provider" value = user._id class = "" style = "display:none;" required)
            input(type = "text" id = "service" name = "service" placeholder = "service" value = user.service.title class = "" style = "display:none;" required)
            input(type = "date" id = "date" name = "date" placeholder = "fecha" value = date class = "" required)
            textarea(id = "description" name = "description" placeholder = "descripción" class = "" autofocus required) #{description}
            input(type = "url" id = "image" name = "image" placeholder = "link imagen" value = image class = "")
            input(type = "submit" value = "cotizar servicio" class = "")
            a(href = "/searchservice")
                    button(type = "button" class = "") cancelar
            
