extends layout
block content
    head
        link(rel = 'stylesheet' type = 'text/css' href = 'stylesheets/forms.css')
        include head
        script(type = 'text/javascript' src = 'javascripts/hide.js')
        script(type = 'text/javascript' src = 'javascripts/selectOption.js')
        script(type = 'text/javascript' src = 'javascripts/initMap.js')
        script(type = 'text/javascript' src = '/javascripts/validate.js')
    body
        div(class = 'jumbotron text-center')
            h1(class = 'display-3') Regístrate
            p Empieza a disfrutar de los mejores servicios
        div(class = 'container')
            div(class = 'row')
                div(class = 'col')
                    div(class = 'text-right' style = 'padding-bottom: 400px')
                        img(src = 'https://www.gruponebralejo.com/wp-content/uploads/2016/06/Logo-jardineria.png' width = '50%' height = '50%')
                    div(class = 'b-5' style = 'padding-bottom: 400px')
                        img(src = 'https://png.pngtree.com/templates/md/20180619/md_5b28f32e50a62.jpg' width = '50%' height = '50%')
                    div(class = 'text-right')
                        img(src = 'https://comparadorluz.com/sites/comparadorluz.com/themes/images/Bombilla_sin_fondo.png' width = '50%' height = '50%')
                div(class = 'col')
                    div(id = 'container' class = 'signup-form')
                        include messages
                        form(id = 'form' action = 'signup' method = 'post' onsubmit = 'return validateSignUp()')
                            h2(class = 'jumbotron text-center') Crear cuenta
                            div(class = 'signup-form-div')
                                input(type = 'text' id = 'firstname' name = 'firstname' placeholder = 'nombre' value = firstname class = 'signup-form-input' autofocus required)
                                input(type = 'text' id = 'lastname' name = 'lastname' placeholder = 'apellido' value = lastname class = 'signup-form-input' required)
                                if gender == 'female'
                                    input(type = 'radio' id = 'gender' name = 'gender' value = 'male' class = 'signup-form-input' required)
                                    | masculino
                                    input(type = 'radio' id = 'gender' name = 'gender' value = 'female' class = 'signup-form-input' checked)
                                    | femenino
                                else
                                    input(type = 'radio' id = 'gender' name = 'gender' value = 'male' class = 'signup-form-input' checked)
                                    | masculino
                                    input(type = 'radio' id = 'gender' name = 'gender' value = 'female' class = 'signup-form-input' required)
                                    | femenino

                                input(type = 'date' id = 'birthdate' name = 'birthdate' placeholder = 'fecha de nacimiento' value = birthdate class = 'signup-form-input' required)
                                if account == 'provider'
                                    input(type = 'number' id = 'idcard' name = 'idcard' placeholder = 'dni' value = idcard class = 'signup-form-input' required)
                                else
                                    input(type = 'number' id = 'idcard' name = 'idcard' placeholder = 'dni' value = idcard class = 'signup-form-input' style = 'display: none;' required disabled)
                                input(type = 'tel' id = 'phonenumber' name = 'phonenumber' placeholder = 'número de teléfono' value = phonenumber class = 'signup-form-input' required)
                                input(type = 'email' id = 'email' name = 'email' placeholder = 'correo electrónico' value = email class = 'signup-form-input' required)
                                input(type = 'password' id = 'password' name = 'password' placeholder = 'contraseña' value = password class = 'signup-form-input' required)
                                input(type = 'password' id = 'confirm_password' name = 'confirm_password' placeholder = 'confirmar contraseña' value = confirm_password class = 'signup-form-input' required)
                                input(type = 'url' id = 'image' name = 'image' placeholder = 'link imagen' value = image class = 'signup-form-input')
                                if account == 'provider'
                                    input(type = 'radio' id = 'account' name = 'account' value = 'client' onclick = 'return hide()' class = 'signup-form-input' required)
                                    | cliente
                                    input(type = 'radio' id = 'account' name = 'account' value = 'provider' onclick = 'return hide()' class = 'signup-form-input' checked)
                                    | prestador
                                else 
                                    input(type = 'radio' id = 'account' name = 'account' value = 'client' onclick = 'return hide()' class = 'signup-form-input' checked)
                                    | cliente
                                    input(type = 'radio' id = 'account' name = 'account' value = 'provider' onclick = 'return hide()' class = 'signup-form-input' required)
                                    | prestador
                                div(id = 'map' class = 'signup-form-map')
                                input(type = 'text' id = 'address' name = 'address' placeholder = 'dirección' class = 'signup-form-input' readonly required)
                                input(type = 'text' id = 'latitude' name = 'latitude' placeholder = 'latitud' class = 'signup-form-input' readonly required)
                                input(type = 'text' id = 'longitude' name = 'longitude' placeholder = 'longitud' class = 'signup-form-input' readonly required)
                                if account == 'provider'
                                    input(type = 'url' id = 'video' name = 'video' placeholder = 'link video' value = video class = 'signup-form-input' required)
                                else
                                    input(type = 'url' id = 'video' name = 'video' placeholder = 'link video' value = video class = 'signup-form-input' style = 'display: none;' required disabled)
                                if account == 'provider'
                                    textarea(id = 'description' name = 'description' placeholder = 'descripción' class = 'signup-form-input' required) #{description}
                                else
                                    textarea(id = 'description' name = 'description' placeholder = 'descripción' class = 'signup-form-input' style = 'display: none;' required disabled) #{description}
                                if account == 'provider'
                                    input(type = 'url' id = 'certificate' name = 'certificate' placeholder = 'link certificado' value = certificate class = 'signup-form-input')
                                else
                                    input(type = 'url' id = 'certificate' name = 'certificate' placeholder = 'link certificado' value = certificate class = 'signup-form-input' style = 'display: none;' disabled)
                                if account == 'provider'
                                    select(id = 'service' name = 'service' class = 'signup-form-input' required)
                                        option(value = '' select hidden) servicio
                                        option(id = 'gasfitería' name = 'gasfitería' value = 'gasfitería') gasfitería
                                        option(id = 'guardería' name = 'guardería' value = 'guardería') guardería
                                        option(id = 'movilidad' name = 'movilidad' value = 'movilidad') movilidad
                                        option(id = 'panadería' name = 'panadería' value = 'panadería') panadería
                                else
                                    select(id = 'service' name = 'service' class = 'signup-form-input' style = 'display: none;' required disabled)
                                        option(value = '' select hidden) servicio
                                        option(id = 'gasfitería' name = 'gasfitería' value = 'gasfitería') gasfitería
                                        option(id = 'guardería' name = 'guardería' value = 'guardería') guardería
                                        option(id = 'movilidad' name = 'movilidad' value = 'movilidad') movilidad
                                        option(id = 'panadería' name = 'panadería' value = 'panadería') panadería
                                input(type = 'submit' value = 'crear cuenta' class = 'btn btn-secondary btn-lg btn-block')
                        div(class = 'signup-form-button')
                            a(href = '/')
                                button(type = 'button' class = 'btn btn-secondary btn-lg btn-block') volver
                div(class = 'col')
                    div(class = 'text-left' style = 'padding-bottom: 400px')
                        img(src = 'https://st4.depositphotos.com/1019239/25179/v/450/depositphotos_251790418-stock-illustration-repairs-icon-hand-wrench-concept.jpg' width = '50%' height = '50%')
                    div(class = 'text-right' style = 'padding-bottom: 400px')
                        img(src = 'https://st2.depositphotos.com/4197925/11806/v/950/depositphotos_118064842-stock-illustration-vector-logo-water-gas-engineering.jpg' width = '50%' height = '50%')
                    div(class = 'text-left')
                        img(src = 'https://www.cerrajeriavega.com/wp-content/uploads/2017/10/servicios-de-cerrajeria-las-24-horas.png' width = '60%' height = '60%')
        script(type = 'text/javascript') selectOption('#{service}')
        script(type = 'text/javascript' src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCSRS9SAWe9v2szpbAYACT9F8c1hJThJ7c&callback=initMap' async defer)                         