doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible" content = "ie=edge")
        link(rel = "stylesheet" type = "text/css" href = "stylesheets/forms.css")
        script(type = "text/javascript" src = "javascripts/validate.js")
        title CONTACTA
    body
        div(class = "create-title")
            h1 CONTACTA
        div(class = "create-form")
            form(action = "signin" method = "post" onsubmit = "return validate()")
                h2(class = "create-form-title") sign in
                div(class = "create-form-div")
                    input(type = "text" id = "username" name = "username" placeholder = "username" class = "create-form-input" required)
                    input(type = "password" id = "password" name = "password" placeholder = "password" class = "create-form-input" required)
                    input(type = "radio" id = "account" name = "account" value = "client" class = "create-form-input" checked)
                    | client
                    input(type = "radio" id = "account" name = "account" value = "provider" class = "create-form-input" required)
                    | provider
                    input(type = "submit" value = "sign in" class = "create-form-submit")
            div(class = "create-form-button")
                a(href = "/")
                    button(type = "button" class = "create-form-return") return index