* {
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #204862;
}
.show-title, .update-title, .delete-title {
    color: #fff;
    text-align: center;
}
.show-group, .update-group, .delete-group {
    width: 500px;
    max-width: 100%;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding-bottom: 25px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}
.show-group-title, .update-group-title, .delete-group-title {
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 5px solid crimson;
}
.show-group-div, .update-group-div, .delete-group-div {
    padding: 0px 30px 5px;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show-group-button, .update-group-button, .delete-group-button {
    padding: 5px 30px;
    text-align: center;
}
.update-group-update, .delete-group-delete {
    background: deepskyblue;
    color: #fff;
    opacity: 1;
    padding: 10px 30px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
}
.show-group-return, .update-group-return, .delete-group-return {
    background: crimson;
    color: #fff;
    opacity: 1;
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
}
.show-group-return:hover, .update-group-return:hover, .update-group-update:hover, .delete-group-return:hover, .delete-group-delete:hover {
    opacity: 0.8;
}
.show-group-return:active, .update-group-return:active, .update-group-update:active, .delete-group-return:active, .delete-group-delete:active {
    transform: scale(1.05);
}
@media(max-width: 768px) {
    .show-group, .update-group, .delete-group {
        width: 75%;
    }
}
@media(max-width: 480px) {
    .show-group, .update-group, .delete-group {
        width: 95%;
    }
}