* {
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #204862;
}
.index-title, .main-title {
    color: #000;
    text-align: center;
}
.index-group {
    width: 500px;
    max-width: 100%;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}
.index-group-title {
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 5px solid crimson;
}
.index-group-div, .main-group-div {
    padding: 0px 30px 5px 30px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.index-group-signup, .index-group-update  {
    background: deepskyblue;
    color: #fff;
    opacity: 1;
    padding: 10px 30px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
}
.index-group-login, .index-group-delete, .main-group-return {
    background: crimson;
    color: #fff;
    opacity: 1;
    padding: 10px 30px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
}
.index-group-signup:hover, .index-group-login:hover, .index-group-update:hover, .index-group-delete:hover, .main-group-return:hover {
    opacity: 0.8;
}
.index-group-signup:active, .index-group-login:active, .index-group-update:active, .index-group-delete:active, .main-group-return:active {
    transform: scale(1.05);
}
@media(max-width: 768px) {
    .index-group {
        width: 75%;
    }
}
.container{
    width: 100%;
    max-width: 1000px;
}
.img1{
    width: 90%;   
}
@media(max-width: 480px) {
    .index-group {
        width: 95%;
    }
    .col{
        text-align: center; 
    }
    .mt-5{
        text-align: center;
    }
    form{
        margin:0 auto;

    }
}